#mainNav {
    display: none;
}

header {
    overflow: hidden;
    background: url(../images/trees.jpeg) no-repeat center center;
    width: 100%;
    height: 100%;
}

@media (max-width: 1800px) {
    header .image-container {
        margin: 40px 80px;
    }
}

@media (min-width: 768px) {
    #mainNav {
        display: block;
    }
    header {
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    header .header-content {
        padding: 50px 0;
    }
    .about-row img {
        margin-bottom: 10px;
    }
    #information {
        padding-bottom: 0;
    }
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: absolute;
    top: 15px;
    left: 15px;
}

.navbar .navbar-brand {
    font-size: 32px;
    font-weight: 600 !important;
    color: #fff !important;
}

.navbar-brand:hover {
    cursor: pointer;
}

.image-container {
    margin: 0 auto 15px;
}

#information {
    background-color: #fff;
}

#information hr {
    max-width: 1000px;
}

#information .row {
    margin-bottom: 40px;
}

.dates-row {
    padding-bottom: 30px;
}

.about-row {
    padding-top: 30px;
}

section.information {
    padding: 100px 0 80px 0;
}

.logo {
    height: 100px;
    width: 320px;
}

.image-col {
    margin-top: 40%;
}

.ripple {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-radius: inherit;
    pointer-events: none;
    animation: ripple-shadow 0.4s forwards;
    -webkit-animation: ripple-shadow 0.4s forwards;
}

.rippleWave {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    background: rgba(255, 255, 255, 1);
    opacity: 0.45;
    animation: ripple 2s forwards;
    -webkit-animation: ripple 2s forwards;
}

@keyframes ripple-shadow {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    }
    20% {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    }
}

@-webkit-keyframes ripple-shadow {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    }
    20% {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    }
}

@keyframes ripple {
    to {
        transform: scale(24);
        opacity: 0;
    }
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(24);
        opacity: 0;
    }
}


/* ----------- iPhone 4 and 4S ----------- */


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .col-sm-6.image-col {
        padding: 0;
    }
    header {
        height: 600px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .col-sm-6.image-col {
        padding: 0;
    }
}


/* ----------- iPhone 5 and 5S ----------- */


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 600px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 1000px;
    }
}


/* ----------- iPhone 6 ----------- */


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .col-sm-6.image-col {
        padding: 0;
    }
    header {
        height: 750px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 1200px;
    }
}


/* ----------- iPhone 6+ ----------- */


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 750px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 1400px;
    }
}


/* ----------- Galaxy S3 ----------- */


/* Portrait */

@media screen and (min-device-width: 320px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 600px;
    }
}


/* Landscape */

@media screen and (min-device-width: 320px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 1200px;
    }
}


/* ----------- Galaxy S4 ----------- */


/* Portrait */

@media screen and (min-device-width: 320px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 600px;
    }
}


/* Landscape */

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 1200px;
    }
}


/* ----------- Galaxy S5 ----------- */


/* Portrait */

@media screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 700px;
    }
}


/* Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 1200px;
    }
}


/* ----------- HTC One ----------- */


/* Portrait */

@media screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 700px;
    }
}


/* Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 1200px;
    }
}


/* ----------- iPad mini ----------- */


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .col-sm-6.image-col {
        padding: 0;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .col-sm-6.image-col {
        padding: 180px 0;
    }
}


/* ----------- iPad 1 and 2 ----------- */


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .col-sm-6.image-col {
        margin-top: 320px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .col-sm-6.image-col {
        margin-top: -50px;
    }
}


/* ----------- iPad 3 and 4 ----------- */


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .col-sm-6.image-col {
        margin-top: 320px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .col-sm-6.image-col {
        top: -270px;
    }
}


/* ----------- iPad Pro --------------- */


/* Portrait */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .col-sm-6.image-col {
        margin-top: 240px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .col-sm-6.image-col {
        margin-top: 340px;
    }
}


/* ----------- Asus Nexus 7 ----------- */


/* Portrait */

@media screen and (min-device-width: 601px) and (max-device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {
    .col-sm-6.image-col {
        top: -120px;
    }
    header {
        height: 1100px;
    }
}


/* Landscape */

@media screen and (min-device-width: 601px) and (max-device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {
    .col-sm-6.image-col {
        margin-top: -60px;
    }
    header {
        height: 600px;
    }
}


/* ----------- Kindle Fire HD 7" ----------- */


/* Portrait */

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
    .col-sm-6.image-col {
        margin-top: 440px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    .col-sm-6.image-col {
        margin-top: 220px;
    }
}


/* ----------- Kindle Fire HD 8.9" ----------- */


/* Portrait */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
    .col-sm-6.image-col {
        top: 10px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    .col-sm-6.image-col {
        margin-top: 720px;
    }
}

@media screen and (min-width: 1440px) {
    .col-sm-6.image-col {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1920px) {
    .col-sm-6.image-col {
        margin-top: 60px;
    }
}